body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

header.header {
  background: #0020ff;
  padding: 20px;
  color: #fff;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.bg-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}